body {
    background-image: url('../../images/111706-line-design-close_up-white-angle-x750.jpg');
    /* background-color: rgb(0, 6, 10); */
    background-size: cover; 
    background-attachment: fixed;
  
    }